/* public/css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="password"], input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}

button.decline {
    background-color: #f44336; /* Red */
}
